:root {
    --bg: linear-gradient(135deg, #667eea, #764ba2);
    --card: rgba(255,255,255,0.15);
    --text: #ffffff;
    --cell: #ffffff;
}

.light {
    --bg: linear-gradient(135deg, #fdfbfb, #ebedee);
    --card: #ffffff;
    --text: #000000;
    --cell: #f3f3f3;
}


body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: var(--bg);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.app {
    background: var(--card);
    backdrop-filter: blur(12px);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 380px;
}



h1 {
    margin-bottom: 5px;
}

.subtitle {
    font-size: 14px;
    opacity: 0.8;
}

.timer {
    margin: 15px 0;
    font-weight: bold;
}

#sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 4px;
    margin: 20px 0;
}

.cell {
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    outline: none;
}

.prefilled {
    background: #eee;
    color: #333;
    font-weight: bold;
}

.user-input {
    background: #ffffff;
}

.cell:nth-child(3n) {
    margin-right: 6px;
}
.cell:nth-child(27n) {
    margin-bottom: 6px;
}

.buttons button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.buttons button:first-child {
    background: #00c9a7;
    color: #000;
}

.buttons button:last-child {
    background: #ff6b6b;
    color: #000;
}

#message {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
}
.top-controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    align-items: center;
    margin: 15px 0 20px;
}


select {
    padding: 6px;
    border-radius: 8px;
    border: none;
}

.mode-btn {
    width: 100%;
    background: rgba(255,255,255,0.25);
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.error {
    background: #ff6b6b !important;
    color: #000;
}
.light .cell {
    background: #ffffff;
    color: #000;
}

.light .prefilled {
    background: #e0e0e0;
    color: #000;
}
